* {
    background-color: #000000;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    font-family: 'IM Fell English', serif;
    font-size: 7vh;
    color: #FFFFFF;
}

.title-container {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Lato', sans-serif;
    font-size: large;
    color: #FFFFFF
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    margin: 0 5%;
    /* Remove this if you don't want the 3D effect */
}


/* This container is needed to position the front and back side */

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    margin: unset;
}


/* Do an horizontal flip when you move the mouse over the flip box container */

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


/* Position the front and back side */

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    /* Safari */
    backface-visibility: hidden;
}


/* Style the front side (fallback if image is missing) */

.flip-card-front {
    background-color: #000000;
    color: #000000;
}


/* Style the back side */

.flip-card-back {
    background-color: #000000;
    color: white;
    transform: rotateY(180deg);
}


/* Arrow */

@keyframes moviendrew {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(20px);
    }
}

#arrow {
    animation-name: moviendrew;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #F05E68;
}

@media only screen and (max-width: 600px) {
    .content-container {
        font-size: 4vh;
    }
    #arrow {
        font-size: 60px;
    }
}