<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="sortingHat.css" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IM+Fell+English&display=swap" rel="stylesheet">
</head>

<body>

    <div class="content-container">
        <p>Veamos qué hay tras los gatitos &#128540;</p>
    </div>

    <div class="cards">
        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../images/cat-kawai.png" alt="mambo" style="width: 100%;">
                </div>
                <div class="flip-card-back">
                    <h1 class="content-container">MAMBO</h1>
                    <img src="../images/mambo.png" alt="mambo" style="width: 100%;">
                    <p class="title-container">Dicen que hay fractales</p>
                </div>
            </div>
        </div>

        <div class="flip-card">
            <div class="flip-card-inner">
                <div class="flip-card-front">
                    <img src="../images/cat-kawai.png" alt="mambo" style="width: 100%;">
                </div>
                <div class="flip-card-back">
                    <h1 class="content-container">Aquelarre</h1>
                    <img src="../images/aquelarre.png" alt="mambo" style="width: 70%;">
                    <p class="title-container">Los nombres del menú son &#129497;</p>
                </div>
            </div>
        </div>
    </div>

    <div class="content-container">
        <p>Resta preguntarte: ¿Aceptarías ir conmigo? &#128563;</p>
    </div>

    <footer>
        <a href="../index.html">
            <div class="content-container">
                <p>¡Tocame para volver al inicio!</p>
            </div>
        </a>
    </footer>
</body>

</html>